@import "../../globalStyling/mixin";
@import "../../globalStyling/variables";

.main04 {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;

  @include breakpoint(mobile-xxs) {
    padding: 50px 0px;
  }

  .for-center-main04 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    background-image: url("/pics/blue-circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(desktop) {
      width: 90%;
    }

    @include breakpoint(laptop) {
      width: 95%;
    }

    @include breakpoint(tablet-sm) {
      width: 90%;
    }

    @include breakpoint(mobile-lg){
      border-radius: 20px;
    }

    @include breakpoint(mobile-xs){
      padding: 30px;
    }

    .section-one {
      // border: 2px solid yellow;
      display: flex;
      flex-direction: column;
      align-items: center;

      .white-capsule-two {
        // border: 2px solid red;
        padding: 7px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.09);
        margin-bottom: 20px;

        h4 {
          font-size: 14px;
          text-align: center;
          color: #f9eb57;
        }
      }

      h2 {
        color: white;
        font-size: 54px;
        text-align: center;

        @include breakpoint(tablet) {
          line-height: 1.1;
          font-size: 50px;
          width: 90%;
        }

        @include breakpoint(tablet-sm) {
          font-size: 45px;
          line-height: 1.1;
          // width: 65%;
        }

        @include breakpoint(mobile-lg) {
          font-size: 35px;
        }

        @include breakpoint(mobile-sm) {
          font-size: 30px;
        }

        @include breakpoint(mobile-xxs) {
          font-size: 28px;
          width: 100%;
        }
      }

      p {
        color: white;
        font-size: 18px;
        width: 65%;
        text-align: center;
        padding-top: 13px;

        @include breakpoint(tablet) {
          width: 65%;
          font-size: 15px;
          line-height: 1.3;
        }

        @include breakpoint(tablet-sm) {
          padding-top: 20px;
          width: 75%;
        }

        @include breakpoint(mobile-lg) {
          font-size: 14px;
          width: 95%;
        }

        @include breakpoint(mobile-md) {
          width: 100%;
        }

        @include breakpoint(mobile-sm) {
          width: 90%;
          font-size: 13px;
        }

        @include breakpoint(mobile-xs) {
          width: 80%;
        }

        @include breakpoint(mobile-xxs) {
          font-size: 15px;
          width: 90%;
        }
      }
    }

    .section-two {
      // border: 2px solid blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0px;

      @include breakpoint(tablet) {
        // gap: 25px;
        display: flex;
        flex-direction: column;
      }

      @include breakpoint(tablet-sm) {
        padding: 50px 0px;
      }

      @include breakpoint(mobile-md) {
        padding: 45px 0px;
      }

      // @include breakpoint(mobile){
      //   padding: 40px 0px;
      // }

      .part-one {
        // border: 2px solid yellow;
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint(laptop-sm) {
          width: 48.5%;
        }

        @include breakpoint(tablet) {
          width: 65%;
        }

        @include breakpoint(tablet-sm) {
          width: 70%;
        }

        @include breakpoint(mobile-lg) {
          width: 100%;
        }

        .child-one {
          // border: 2px solid red;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
        }

        .child-two {
          // border: 2px solid blue;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
        }

        .child-three {
          // border: 2px solid green;
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-end;
        }
      }

      .part-two {
        // border: 2px solid red;
        width: 49%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint(laptop-sm) {
          width: 48.5%;
        }

        @include breakpoint(tablet) {
          width: 65%;
        }

        @include breakpoint(tablet-sm) {
          width: 70%;
        }

        @include breakpoint(mobile-lg) {
          width: 100%;
        }

        .child-four {
          // border: 2px solid blue;
          margin-bottom: 20px;
        }

        .child-five {
          // border: 2px solid yellow;
          margin-bottom: 20px;
        }

        .child-six {
          // border: 2px solid lime;
          margin-bottom: 20px;

          @include breakpoint(tablet-sm) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
