.main03 {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 0px;

  .for-center-main03 {
    // border: 2px solid blue;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side-div {
    //   border: 2px solid green;
      display: flex;
      flex-direction: column;

      .small-yellow-capsule-two {
        padding: 10px;
        background-color: #fdf7bc;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13%;
        border-radius: 20px;
        margin-bottom: 20px;

        h4 {
          font-size: 15px;
          font-weight: 600;
        }
      }

      h5 {
        font-size: 51px;
        width: 75%;
        line-height: 1.1;
        font-weight: 450;
      }


      .handling-three-small-divs {
        border: 2px solid red;
        display: flex;
        flex-direction: column;



        .three-circles-headings-one {
            border: 2px solid blue;
            display: flex;


            .cicle-icon {
                // border: 2px solid red;
                padding: 1px 4px;
                border-radius: 50px;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;


                i {
                    color: white;
                    font-size: 14px;
                }
            }
        }
      }
    }
  }
}
